/*#container{
position: absolute;
top: 100px;
left: 500px;
    
}*/

body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #ecf0f1;
    background-color: rgb(23, 24, 37);
    font-family: 'Fjalla One', sans-serif;
    animation: fadein 1.5s;
}
@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100%   {
        opacity: 100%;
    }
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0;
}